<%- layout("layouts/boilerplate") %>

<div class="filters filters-scroll">
  <div class="filter">
    <a href="/listings?category=trending"><i class="fa-solid fa-fire"></i></a>
    <p>Trending</p>
  </div>
  <div class="filter">
    <a href="/listings?category=rooms"><i class="fa-solid fa-bed"></i></a>
    <p>Rooms</p>
  </div>
  <div class="filter">
    <a href="/listings?category=city"><i class="fa-solid fa-city"></i></a>
    <p>Cities</p>
  </div>
  <div class="filter">
    <a href="/listings?category=mountain"><i class="fa-solid fa-mountain"></i></a>
    <p>Mountain</p>
  </div>
  <div class="filter">
    <a href="/listings?category=camp"><i class="fa-solid fa-campground"></i></a>
    <p>Camp</p>
  </div>
  <div class="filter">
    <a href="/listings?category=pool"><i class="fa-solid fa-person-swimming"></i></a>
    <p>pools</p>
  </div>
  <div class="filter">
    <a href="/listings?category=castle"><i class="fa-brands fa-fort-awesome"></i></a>
    <p>Castle</p>
  </div>
  <div class="filter">
    <a href="/listings?category=snow"><i class="fa-solid fa-snowflake"></i></a>
    <p>Snow</p>
  </div>
  <div class="filter">
    <a href="/listings?category=farm"><i class="fa-solid fa-tractor"></i></a>
    <p>Farms</p>
  </div>

  <div class="tax-toggle-wrapper">
    <div class="tax-toggle">
      <span class="tax-label">Display with taxes</span>
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="switchCheckDefault"
      />
    </div>
  </div>
</div>

<div class="all-lists">
  <% if (allListings.length === 0) { %>
    <p class="text-center mt-4">No listings found for this location 😕</p>
  <% } %>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">
    <% for (listing of allListings) { %>
    <a href="/listings/<%=listing._id%>" class="listing-link">
      <div class="col">
        <div class="card card-listing">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="..." />

          <div class="card-img-overlay"></div>

          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b> <br />
              &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
              <i class="tax-info"> &nbsp; +18% GST</i>
            </p>
          </div>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</div>

<script>
  let taxToggle = document.getElementById("switchCheckDefault");
  taxToggle.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (info of taxInfo) {
      if (info.style.display == "inline") {
        info.style.display = "none";
      } else {
        info.style.display = "inline";
      }
    }
  });
</script>
